schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="quiz">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="question" maxOccurs="unbounded" minOccurs="0">
         <xs:complexType>
            <xs:choice maxOccurs="unbounded" minOccurs="0">
              <xs:element name="category">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="text"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="info">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="text"/>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="format"/>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="idnumber"/>
              <xs:element name="name">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="text"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="questiontext">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="text"/>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="format" use="optional"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="generalfeedback">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="text"/>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="format" use="optional"/>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:float" name="defaultgrade"/>
              <xs:element type="xs:float" name="penalty"/>
              <xs:element type="xs:byte" name="hidden"/>
              <xs:element type="xs:string" name="single"/>
              <xs:element type="xs:string" name="shuffleanswers"/>
              <xs:element type="xs:string" name="answernumbering"/>
              <xs:element name="correctfeedback">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="text"/>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="format" use="optional"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="partiallycorrectfeedback">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="text"/>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="format" use="optional"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="incorrectfeedback">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="text"/>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="format" use="optional"/>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="shownumcorrect"/>
              <xs:element name="answer">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="text"/>
                    <xs:element name="feedback">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="text"/>
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="format" use="optional"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:byte" name="fraction" use="optional"/>
                  <xs:attribute type="xs:string" name="format" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:choice>
            <xs:attribute type="xs:string" name="type" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
